apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-kafka
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    phoenix.io/component: messaging
data:
  KAFKA_BOOTSTRAP_SERVERS: redpanda.phoenix-platform.svc:9092
  KAFKA_TOPIC: {{ kafka_topic }}
