apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-otel
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    phoenix.io/component: observability
data:
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector.phoenix-platform.svc:4317
  OTEL_SERVICE_NAME: {{ otel_service_name }}
  OTEL_RESOURCE_ATTRIBUTES: team={{ team }},app={{ app_name }}
