apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}-postgres
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    phoenix.io/component: database
type: Opaque
stringData:
  DATABASE_HOST: postgres.phoenix-platform.svc
  DATABASE_PORT: "5432"
  DATABASE_NAME: {{ postgres_db }}
  DATABASE_USER: {{ postgres_user }}
  DATABASE_URL: postgresql://{{ postgres_user }}@postgres.phoenix-platform.svc:5432/{{ postgres_db }}
