apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ app_name }}-quota
  namespace: {{ namespace }}
spec:
  hard:
    requests.cpu: "1"
    requests.memory: 2Gi
    limits.cpu: "2"
    limits.memory: 4Gi
    persistentvolumeclaims: "2"
    pods: "5"
