apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    phoenix.io/team: {{ team }}
spec:
  host: {{ route_host }}
  to:
    kind: Service
    name: {{ app_name }}
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
